elinor

tqdm
numpy
Pillow
rtmlib
ipykernel
onnxruntime-gpu==1.20.0

fastapi
gunicorn
uvicorn
requests

loguru
omegaconf
concurrent-log-handler
opencv-python
opencv-contrib-python

# python-multipart

